.footer{

    --footer__top__grid-columns: repeat(3, 1fr);
    
    @media (max-width: $screen-sm) {
        --footer__top__grid-columns: 1fr;
    }


    background-color: $secondary;
    color: $white;

    .top{
        padding: 5rem;
        display: grid;
        grid-template-columns: var(--footer__top__grid-columns);
        grid-gap: calc(var(--gutter) * 2);
    }

    .bottom{
        padding: 3rem;
        background-color: darken($secondary, 10%);
        display: flex;
        align-items: center;
        opacity: .7;

        .logo{

            svg{
                width: 20rem;
            }
            
        }

        .copyright{
            margin-left: auto;
        }
    }
}