.hero{

    /*----- MEDIA VARIABLER -----*/
    
   
    /*----- STYLING -----*/

    position: relative;
    margin-top: calc(var(--header__height) - 4rem);
    overflow: hidden;
    height: 50rem;

    &__video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        display: block;
        transform: translateX(-50%) translateY(-50%);
    }
}