
{% extends "layouts/base.njk" %}

{% block content %}
    {% include "components/banner.njk" %}
    <main>
        <div class="blog--list">
            <div class="container">
                {% for item in collections.blog %}
                    {% include "components/blog--list.njk" %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}