
{% extends "layouts/base.njk" %}

{% block content %}
    {% include "components/banner.njk" %}
    
    <div class="container">
        <main>
            {{ content | safe }}
        </main>
    </div>
{% endblock content %}