{% set body_class = title %}
{% extends "layouts/base.njk" %}

{% block content %}
    {{ cover_image }}
    <div class="container">
        <main>
            {{ content | safe }}
        </main>
    </div>
{% endblock content %}