{% set body_class = title %}
{% extends "layouts/base.njk" %}

{% block content %}
    {% include "components/hero--home.njk" %}
    {% include "components/about--home.njk" %}
    {% include "components/brands.njk" %}
    {% include "components/call-to-action.njk" %}
{% endblock content %}