{% set body_class = title %}
{% extends "layouts/base.njk" %}

{% block content %}
    {% include "components/hero--home.njk" %}
    {% include "components/about--home.njk" %}
    {% include "components/brands.njk" %}
    {% include "components/call-to-action.njk" %}
    
    <div class="blog--home-slider">
        <div class="container">
        {% for item in collections.blog %}
            {% include "components/blog--list.njk" %}
        {% endfor %}
        </div>
        
    </div>
{% endblock content %}