<section class="hero">
    <video class="hero__video" muted="muted" autoplay loop="loop" playsinline="" preload="auto" class="video" height="500px">
        <source src="https://res.cloudinary.com/fmeyer1980/video/upload/f_auto,q_auto,w_1800,h_500,c_fill{{ settings.claudinaryFolder }}{{ hero_video }}">
    </video>
</section>