$primary: #ee672c;
$primary-dark: #E63D1F;
$primary-light: #EF4223;

$secondary: #f7b733;
$tertiary: #243F4E;

$white: #fff;
$light-gray-light: #f8f8f8;
$light-gray-dark: #EEE6DF;
$medium-gray-light: #999;
$medium-gray-dark: #4F4237;
$dark-gray-light: #3C2C1F;
$dark-gray-dark: #1C1C1C;
$black: #000;

$text-color: #212121;

:root {
--primary: #fc4a1a;
--primary-dark: #E63D1F;
--primary-light: #EF4223;

--secondary: #f7b733;
}